{% extends 'base.html.twig' %}

{% block title %} {{plant_need.plantType.name}} needs for {{plant_need.cultureStage}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-secondary my-5">Update {{plant_need.plantType.name}} needs for its {{plant_need.cultureStage}} </h1>

    {{ include('plant_needs/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('plant_needs_index') }}">back to list</a> #}
</div>
{% endblock %}
