{% extends 'base.html.twig' %}

{% block title %}PlantNeeds index{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="my-5 pb-2 text-secondary text-center">Manage your {{ plant_needs.1.plantType.name|lower }} needs for each step of your cultures</h1>

    <div class="accordion">
      {% for plant_need in plant_needs %}
        {% set tab_id = 'tab-' ~ plant_need.id %}
        <div class="accordion-item my-3">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ tab_id }}" aria-expanded="false" aria-controls="{{ tab_id }}">
              {{ plant_need.cultureStage|capitalize }} stage
            </button>
          </h2>

          <div id="{{ tab_id }}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Light required per day : <span class="text-secondary">
                {{ plant_need.light ? plant_need.light : '0' }} 
                </span> hours </br>
                Water required per day : 
                <span class="text-secondary">
                {{ plant_need.waterPerDay ? plant_need.waterPerDay : '0'  }}
                </span>
                  liters </br>
                Minimum temperature : 
                <span class="text-secondary"> {{ plant_need.minTemperature ? plant_need.minTemperature : '0' }}</span>°C </br>
                Maximum temperature : 
                <span class="text-secondary"> {{ plant_need.maxTemperature ? plant_need.maxTemperature : '0' }}</span>°C </br>
                Minimum room humidity (for indoor culture) : 
                <span class="text-secondary"> {{ plant_need.minHumidity ? plant_need.minHumidity : '0' }}</span>% </br>
                Maximum room humidity (for indoor culture) : 
                <span class="text-secondary"> {{ plant_need.maxHumidity ? plant_need.maxHumidity : '0' }}</span>% </br>
                Target soil PH : 
                <span class="text-secondary"> {{ plant_need.targetPH ? plant_need.targetPH : '0' }} </br>
                </span>
                Target EC (for hydro culture) :
                <span class="text-secondary"> {{ plant_need.targetEC ? plant_need.targetEC : 'none' }}</span>
              </p>

              <div class="d-grid gap-2">
                <a class ="btn btn-secondary text-light" href="{{ path('plant_needs_edit', {'id': plant_need.id}) }}">Update {{ plant_need.CultureStage }} stage needs</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
