{% extends 'base.html.twig' %}

{% block title %}Culture{% endblock %}

{% block body %}
    <h1 class="mt-5">{{ culture.name }} dashboard</h1>
    <p>
        Greetings homegrower! Bellow are the ideal conditions for your {{ culture.plantType.name}} home culture chamber! </br> Please note that these do not mention nutriments for your plants at this point, feel free to consult nutriment brands website to determine which one would fit best to your home garden !
    </p>
    <p>
        You started this culture on {{ culture.startDate|date('d-m-Y')}} and the estimated date for your harvest is XXX.
    </p>
    <p>
        As you currently are at the {{ stage }} stage of this culture, your plants currently need XXX hours of light per day and around XXX liters of water.
    </p>
    <p>
        Please make sure the temperature of your room is somewhere bewteen XXX and XXX so that your babies can develop at their best.
    </p>
    <p>
        Also make sure the PH of your soil is near XXX and your EC is around XXX.
    </p>











    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ culture.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ culture.name }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ culture.startDate ? culture.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SoilType</th>
                <td>{{ culture.soilType }}</td>
            </tr>
            <tr>
                <th>SeedsQty</th>
                <td>{{ culture.seedsQty }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('culture_index') }}">back to list</a>

    <a href="{{ path('culture_edit', {'id': culture.id}) }}">edit</a>

    {{ include('culture/_delete_form.html.twig') }}
{% endblock %}
