
<nav class="navbar navbar-expand-md navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand h1 lead" href="{{ path('index')}}"> <img src="{{ asset('build/images/leaf-logo.png')}}" alt="logo" height="52"> Home Grown</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active text-end text-primary" aria-current="page" href="{{ path('culture_new')}}">Start a new <span class="text-secondary">
         culture</a>
        </span>
        <a class="nav-link active text-end text-primary" aria-current="page" href="{{ path('culture_history')}}">My <span class="text-secondary">
         cultures 
        </span>
         history</a>
        <a class="nav-link active text-end text-primary" aria-current="page" href="{{ path('plant_type_index')}}">Manage my <span class="text-secondary">
        plants</a>
        </span> 

      </div>
    </div>
  </div>
</nav>

{# <div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav> #}